package views

templ Index(loggedIn bool) {
    if loggedIn {
        <div>
            You are logged in
        </div>
    } else {
        <div>
            Please login or signup
        </div>
    }
}